<h1>Add Professor</h1>
<form action="/professores/add" method="POST">
    <div class="form-group">
        <label for="nome">Professor</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
        <label for="telefone">Telefone</label>
        <input type="number" class="form-control" id="telefone" name="telefone" required>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>